/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* body{
  background-color: black;
} */

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



.sidenav-overlay {
  z-index: 9;
}

html, body {
  min-height: 100% !important;
  height: 100%;
  background-color: black;
}

nav ul a, nav .brand-logo {
  color: white;

}
#dropdown1{
  background-color: white;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.noSelect:focus{
  outline:0;
}
.dropdown-trigger:focus {
  outline: 0;
}

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

.pad-top {
  margin-top: 3em;
  margin-bottom: 5em;
}

.nav-extended {
  background-color: black;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-cursor {
  font-size: 30px;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
  font-family: 'Orbitron', sans-serif;
}

nav {
  position: fixed;
  z-index: 100;
}

p {
  line-height: 2rem;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

h5 {
  font-family: 'Orbitron', sans-serif;
}

.sidenav-trigger {
  color: white;
}

.sidenav {
  z-index: 1000;
}

.sidenav a {
  font-family: 'Orbitron', sans-serif;
}

#men{
  z-index: 1000;
  position:fixed;
  padding-left: 15px;
  padding-top: 15px;
  }

@media only screen and (min-width: 993px) {
  #men{
    z-index: 1000;
    display: none;
  }
}

#type {
  padding-top: 25vh;
}

/* @media only screen and (min-width: 993px) {
  #men{
    z-index: 1000;
    display: none;
  }
} */
#top-banner {
  height: 100%;
  /* background-image: url(../img/img3-min.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  z-index: 1;
}

#space {
  margin-top: 10vh;
}

#type-reveal1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#type-reveal2 {
  font-size: 25px;
  color: rgb(204, 204, 0);
  font-family: 'Orbitron', sans-serif;
}

@media only screen and (min-width: 700px) {
  #type-reveal1{
    font-size: 60px;
  }
  .typed-cursor{
    font-size: 60px;
  }
  #type-reveal2 {
    font-size: 50px;
  }
}



.header {
  font-family: 'Orbitron', sans-serif;
  line-height: 50px;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

#vision-text {
  font-size: 3em;
  letter-spacing: 10px;
  color: white;
  margin-bottom: 50px;
}

.info-boxes {
  background-color: black;
  color: white;
  position: relative;
  z-index: 1;
}


/* .info-boxes:before {
  background-color: black;
  background: inherit;
  top: 0;
  content: '';
  display: absolute;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(176deg);
  transform-origin: 0;
  z-index: -1;
  } */

.info-boxes:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: absolute;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  transform-origin: 0;
  z-index: -1;
}

.para-text {
  /* margin-top: -0.6em; */
  letter-spacing: 5px;
  font-size: 3em;
}

.init-boxes {
  padding-top: 5em;
  padding-bottom: 8em;
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;
}

.init-boxes:before {
  background: inherit;
  top: 0;
  content: '';
  display: absolute;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  transform-origin: 100%;
  z-index: -1;
}

.init-boxes:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: absolute;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  transform-origin: 0%;
  z-index: -1;
}

.init-boxes-pad {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.card {
  border-radius: 10px;
  background-color: white;
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
}

.padding {
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: 'Ubuntu', sans-serif;
}

.goldish {
  color: rgb(204, 204, 0);
  font-family: 'Orbitron', sans-serif;
}

.contact-us {
  padding-top: 5em;
  padding-bottom: 8em;
  background-color: black;
  color: black;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid white;
}

.contact-us:before {
  background: inherit;
  top: 0;
  content: '';
  display: absolute;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  transform-origin: 100%;
  z-index: -1;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.init-block {
  padding: 20px 35px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#find-out-more-btn {
  background-color: black;
  color: rgb(204, 204, 0);
  margin-top: 2em;
  border: 1px solid rgb(204, 204, 0);
  border-radius: 5px;
}

#find-out-more-btn:hover {
  background-color: black;
}

footer.page-footer {
  margin-top: 100px;
}

.fa-facebook-square {
  color: #3b5998;
  font-size: 2em;
}

.fa-twitter-square {
  color: #c0deed;
  font-size: 2em;
}

.fa-youtube-square {
  color: #cc181e;
  font-size: 2em;
}

#mc_embed_signup {
  background: black;
  color: white;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}
